<div class="submit-project-form">
    <form (ngSubmit)="submit()">
        <!-- Seção de Projeto -->
        <div class="form-group">
            <div class="projeto">
                <label class="text-font">Projeto</label>
                <div class="radio-group">
                    <label><input type="radio" [(ngModel)]="projectType" name="projectType" value="EXTENSAO" /> Extensão</label>
                    <label><input type="radio" [(ngModel)]="projectType" name="projectType" value="PESQUISA" /> Pesquisa</label>
                </div>
            </div>
        </div>

        <!-- Seção de Modalidade -->
        <div class="form-group">
            <label class="text-font">Modalidade</label>
            <div class="radio-group">
                <label><input type="radio" [(ngModel)]="modality" name="modality" value="PROFICE" /> PROFICE</label>
                <label><input type="radio" [(ngModel)]="modality" name="modality" value="PROVIC" /> PROVIC</label>
            </div>
        </div>

        <!-- Seção de Formato -->
        <div class="form-group">
            <label class="text-font">Formato</label>
            <div class="radio-group">
                <label><input type="radio" [(ngModel)]="periodicity" name="periodicity" value="SEMESTRAL" /> Semestral</label>
                <label><input type="radio" [(ngModel)]="periodicity" name="periodicity" value="ANUAL" /> Anual</label>
                <label><input type="radio" [(ngModel)]="periodicity" name="periodicity" value="BIMESTRAL" /> Bimestral</label>
                <label><input type="radio" [(ngModel)]="periodicity" name="periodicity" value="TRIMESTRAL" /> Trimestal</label>
            </div>
        </div>

        <!-- Campos do Formulário -->
        <div class="form-group">
            <label for="projectTitle" class="text-font">Título do Projeto</label>
            <input type="text" id="projectTitle" [(ngModel)]="projectTitle" name="projectTitle" class="form-control input-field" />
        </div>

        <div class="container-row">
            <div class="coordinator-collaborator-container">
                <h3>Professor Proponente</h3>
                <div class="container-row">
                    <div class="coordinator-container">
                        <div class="form-group">
                            <label for="coordinatorName">Professor Coordenador do projeto</label>
                            <select id="coordinatorName" [(ngModel)]="coordinatorName" name="coordinatorName" class="form-control input-field">
                                <option *ngFor="let coordinator of coordinatorOptions" [value]="coordinator">{{ coordinator }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="coordinatorEmail">Email do Coordenador</label>
                            <input type="email" id="coordinatorEmail" [(ngModel)]="coordinatorEmail" name="coordinatorEmail" class="form-control input-field" />
                        </div>
                        <div class="form-group">
                            <label for="coordinatorCourse">Curso do Coordenador</label>
                            <select id="coordinatorCourse" [(ngModel)]="coordinatorCourse" name="coordinatorCourse" class="form-control input-field">
                                <option *ngFor="let course of courses" [value]="course">{{ course }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="coordinatorPhone">Telefone do Coordenador</label>
                            <input type="text" id="coordinatorPhone" [(ngModel)]="coordinatorPhone" name="coordinatorPhone" class="form-control input-field" />
                        </div>
                    </div>

                    <div class="collaborator-container">
                        <div class="form-group">
                            <label for="collaboratorName">Professor Colaborador</label>
                            <select id="collaboratorName" [(ngModel)]="collaboratorName" name="collaboratorName" class="form-control input-field">
                                <option *ngFor="let collaborator of collaboratorOptions" [value]="collaborator">{{ collaborator }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="collaboratorEmail">Email do Colaborador</label>
                            <input type="email" id="collaboratorEmail" [(ngModel)]="collaboratorEmail" name="collaboratorEmail" class="form-control input-field" />
                        </div>
                        <div class="form-group">
                            <label for="collaboratorCourse">Curso do Colaborador</label>
                            <select id="collaboratorCourse" [(ngModel)]="collaboratorCourse" name="collaboratorCourse" class="form-control input-field">
                                <option *ngFor="let course of courses" [value]="course">{{ course }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="collaboratorPhone">Telefone do Colaborador</label>
                            <input type="text" id="collaboratorPhone" [(ngModel)]="collaboratorPhone" name="collaboratorPhone" class="form-control input-field" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="botao"><h4>Próximo</h4></button>
    </form>
</div>
